@model IEnumerable<Netflox.Models.Actor>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Pc)*@
                @{ if (@Html.DisplayFor(modelItem => item.PicName) != null)
                    {
                        <img src="https://anonvpn.net/images/@Html.DisplayFor(modelItem => item.PicName)" alt="Sample Image" width="25px" />
                    }
                }
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.ActorId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
