@model IEnumerable<Netflox.Models.Actor>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Pc)*@
                @{ if (@Html.DisplayFor(modelItem => item.PicName) != null)
                    {
                        <img src="https://anonvpn.net/images/@Html.DisplayFor(modelItem => item.PicName)" alt="Sample Image" width="25px" />
                    }
                }
            </td>

            <td>
                @*<a onclick="addActor(@item.ActorId, '@item.ActorName', @ViewBag.MovieId);">Remove</a>*@
                <button type="button" id="@("remActor"+item.ActorId)" class="btn btn-info" onclick="removeActor(@item.ActorId, '@item.ActorName', @ViewBag.MovieId);">Remove</button>
            </td>
        </tr>
}
    </tbody>
</table>
