@model Netflox.Models.Movie

@{
    ViewData["Title"] = "Details";
    var imagen = "https://anonvpn.net/images/" + Model.PicName;
    var video = "https://anonvpn.net/video/" + Model.VideoName;
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />

    @if (Model.PicName != null)
    {
        <img src="@imagen" alt="Sample Image" width="300px" />
    }


    <dl class="dl-horizontal">
        


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>




    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
